/* CSS di dalam file doodlejump.css */

body {
  text-align: center;
}

.game-title {
  margin-top: 20px;
  font-size: 24px;
  color: #000000; /* Warna teks judul */
}

#board {
  /* background-color: green; */
  background-image: url("./doodlejumpbg.png");
}
